.LinkedIn{
    padding:30px;
}
.project-title{
    padding:30px;
}
body{
    background-color: rgba(156, 133, 133, 0.541);
    font-family: "Times Now Roman";
}
.header span {
    color:rgba(124, 15, 15, 0.788);
}
.header h1 {
    padding-bottom : 50px;
}
